<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title(datacenter.display_name) %></title>
  <link rel="stylesheet" href="/assets/dashboard.min.css">
</head>
<body>

  <div class="container" id="app">
    <%= yield %>
  </div> <!-- / .container -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script type="text/javascript" src="/assets/dashboard.min.js"></script>
  <!--script src="application.js"></script -->

</body>
</html>
