<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title(datacenter.display_name) %></title>
  <link rel="stylesheet" href="/assets/dashboard.min.css">
</head>
<body>

  <div class="container" id="app">
    <%= yield %>
  </div> <!-- / .container -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script type="text/javascript" src="/assets/dashboard.min.js"></script>
  <script type="text/javascript">
    $(function() {

      var dashboard = new PowerDashboard({
        apiConfig: {
          uriPrefix: 'timeline/<%= datacenter.slug %>'
        },
        metrics: [
          {
            alias: 'humidity',
            name: 'Humidity',
            minDomainDifference: 0.05
          },
          {
            alias: 'temperature',
            name: 'Temperature',
            minDomainDifference: 0.05
          },
          {
            alias: 'pue',
            name: 'PUE',
            domain: {
              min: 1.0,
              max: 1.2
            }
          },
          {
            alias: 'wue',
            name: 'WUE',
            domain: {
              min: 0,
              max: 1.5
            }
          }
        ]
      });

    });
  </script>
</body>
</html>
